
<footer class="footer">
    <div class="f1">
      
      <ul>
        <h3>Risorse</h3>
        <li><a href="#">Gift card</a></li>
        <li><a href="#">Trova un negozio</a></li>
        <li><a href="#">Nike Journal</a></li>
        <li><a href="#">Diventa Member</a></li>
        <li><a href="#">Sconto Studenti</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Codici Promozionali</a></li>
      </ul>
    </div>
    <div class="f2">
     
      <ul> 
       <h3>Assistenza</h3>
       <li><a href="#">Hai bisogno di aiuto?</a></li>
       <li><a href="#">Stato ordine</a></li>
       <li><a href="#">Spedizione e consegna</a></li>
       <li><a href="#">Resi</a></li>
       <li><a href="#">Opzioni di pagamento</a></li>
       <li><a href="#">Contattaci</a></li>
       <li><a href="#">Recensioni</a></li>
       <li><a href="#">Assistenza codici promozionali Nike</a></li>
      </ul>
    </div>
    <div class="f3">
      
      <ul>
       <h3>Azienda</h3>
       <li><a href="#">Informazioni su Nike</a></li>
       <li><a href="#">News</a></li>
       <li><a href="#">Lavora con noi</a></li>
       <li><a href="#">Investitori</a></li>
       <li><a href="#">Sostenibilità</a></li>
       <li><a href="#">Obiettivo</a></li>
      </ul>
    </div>
    <div class="f4">
      <a href="" class="lingua"><i class="fa-solid fa-globe"></i></a>
    </div>
  </footer>
    <div class="subfooter">
      <ul>
        <li>&copy 2024 Nike, Inc. Tutti i diritti riservati</li>
        <li>Guida</li>
          <div class="sottomenu">
          <ul>
            <li><a href="#">Nike Air</a></li>
            <li><a href="#">Nike Air Max</a></li>
            <li><a href="#">Nike FlyEase</a></li>
            <li><a href="#">Nike FlyKnit</a></li>
            <li><a href="#">Nike Flyleather</a></li>
            <li><a href="#">Nike Free</a></li>
            <li><a href="#">Nike Pegasus</a></li>
            <li><a href="#">Nike React</a></li>
            <li><a href="#">Nike Vaporfly</a></li>
            <li><a href="#">Nike Zoomfly</a></li>
            <li><a href="#">Nike ZoomX</a></li>
            <li><a href="#">Articoli per tifosi NBA</a></li>
            <li><a href="#">Factory Store</a></li>
            <li><a href="#">Nike Airtopia</a></li>

          </ul>
        </div>
        
        <li><a href="#">Condizioni d'uso</a></li>
        <li><a href="#">Condizioni di vendita</a></li>
        <li><a href="#">Info legali e societarie</a></li>
        <li><a href="#">Informativa sulla privacy e sui cookie</a></li>
        <li><a href="#">Impostazioni sulla Privacy e sui Cookie</a></li>
      </ul>
    </div>