<div class="bottoni w-100 mb-2 d-flex justify-content-center align-items-center" style="margin-top: 50px;height: 30px;padding: 20px;">
    <h2 class="w-100 text-center mb-5 mt-5 text-uppercase d-flex">Top Seller</h2>
    <div class="left btn btn-light " style="margin-right: 5px;" (click)="scrollSinistra()"><svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
      </svg></div>
    <div class="right btn btn-light " (click)="scrollDestra()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
      </svg></div>
</div>

<div class="top-seller d-flex flex-nowrap row row-cols-1 row-cols-md-3 g-4" style="border: none;">
    <div class="col" *ngFor="let topSeller of topSeller">
      <div class="card">
        <img [src]="topSeller.imageUrl" class="card-img-top" alt="{{ topSeller.title }}">
        <div class="card-body d-flex justify-content-center align-items-center">
          <a [routerLink]="getRouterLink(topSeller)" style="text-decoration: none;color: black;" class="pulsante d-flex align-items-center justify-content-center">
            <h5 class="card-title text-center p-1 m-1" style="font-size: 1em; margin: 0; padding: 10px;">
              {{ topSeller.title }}
            </h5>
          </a>
        </div>
        
      </div>
    </div>
  </div>
  